{
    "presets": [
        ["es2015", {
            "modules": false
        }],
        "flow"
    ],
    "plugins": [
        "transform-runtime",
        "transform-class-properties"
    ],
    "env": {
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ],
        }
    }
}
