{
    "presets": [
        "flow"
    ],
    "env": {
        "production": {
            "presets": [
                ["es2015", {
                    "modules": false
                }]
            ],
            "plugins": [
                "transform-class-properties",
                "transform-runtime"
            ]
        },
        "development": {
            "presets": [
                ["es2015", {
                    "modules": false
                }]
            ],
            "plugins": [
                "transform-class-properties",
                "transform-runtime"
            ]
        },
        "test": {
            "presets": [
                "es2015"
            ],
            "plugins": [
                "transform-class-properties",
                "transform-runtime"
            ]
        },
        "esm": {
            "plugins": [
                "transform-class-properties",
                ["import-rename", {
                    "^\\./src/": "./lib/",
                    "^\\.\\./submodules/katex-fonts/": "./",
                    "\\.(?!js$)[^.]*$": "$&.js"
                }]
            ]
        }
    }
}
