# Last 2 versions of each browsers, excluding dead browsers (e.g., BlackBerry)
last 2 versions
not dead

# Browsers with more than 0.1% global usage, excluding old browsers
> 0.1%
not ie < 11
not safari < 9
not chrome < 60
not dead
