katex.tar.gz
katex.zip
node_modules
*.log
last.png
diff.png
/.npm-install.stamp
/dist/
/test/screenshotter/tex/
/test/screenshotter/diff/
/test/screenshotter/new/
/test/symgroups.tex
/test/symgroups.aux
/test/symgroups.log
/test/symgroups.pdf
/test/screenshotter/unicode-fonts
coverage/
docs/cli.md
lib/core/metadata.js
lib/core/MetadataBlog.js
website/translated_docs
website/build/
website/node_modules
website/i18n/*
website/static/static/katex.*
website/static/static/fonts
website/static/static/copy-tex.*
website/static/static/mhchem.*

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
website/.yarn/*
!website/.yarn/releases
!website/.yarn/plugins
!website/.yarn/sdks
!website/.yarn/versions
