{
    "extends": "stylelint-config-standard",
    "rules": {
        "at-rule-no-vendor-prefix": null,
        "font-family-name-quotes": "always-where-required",
        "indentation": 4,
        "number-max-precision": 6,
        "property-no-vendor-prefix": null,
        "selector-class-pattern": null,
        "value-no-vendor-prefix": null,
        "value-keyword-case": ["lower", {"camelCaseSvgKeywords": true}],
    },
    "overrides": [
      {
        "files": ["**/*.less"],
        "customSyntax": "postcss-less",
      }
    ],
    "ignoreFiles": [
        "**/*.min.css"
    ]
}
