{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-scss"
    ],
    "rules": {
        "at-rule-no-vendor-prefix": null,
        "font-family-name-quotes": "always-where-required",
        "indentation": 4,
        "number-max-precision": 6,
        "property-no-vendor-prefix": null,
        "selector-class-pattern": null,
        "value-no-vendor-prefix": null,
        "value-keyword-case": ["lower", {"camelCaseSvgKeywords": true}],
        "at-rule-no-unknown": null,
        "scss/at-rule-no-unknown": true,
        "annotation-no-unknown": null
    },
    "overrides": [
      {
        "files": ["**/*.scss"],
        "customSyntax": "postcss-scss"
      }
    ],
    "ignoreFiles": [
        "**/*.min.css"
    ]
}
