language: node_js
node_js:
  - stable
cache:
  directories:
    - node_modules
sudo: required
services:
  - docker
before_script:
  - docker pull selenium/standalone-firefox:2.48.2
  - docker pull selenium/standalone-chrome:2.48.2
  - docker images --no-trunc
script:
  - npm test
  - dockers/Screenshotter/screenshotter.sh --verify
