@font-face {
    font-family: 'katex_ams';
    src: url('katex_ams-regular.eot');
    src: url('katex_ams-regular.eot?#iefix') format('embedded-opentype'),
         url('katex_ams-regular.woff') format('woff'),
         url('katex_ams-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'katex_caligraphic';
    src: url('katex_caligraphic-bold.eot');
    src: url('katex_caligraphic-bold.eot?#iefix') format('embedded-opentype'),
         url('katex_caligraphic-bold.woff') format('woff'),
         url('katex_caligraphic-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'katex_caligraphic';
    src: url('katex_caligraphic-regular.eot');
    src: url('katex_caligraphic-regular.eot?#iefix') format('embedded-opentype'),
         url('katex_caligraphic-regular.woff') format('woff'),
         url('katex_caligraphic-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'katex_fraktur';
    src: url('katex_fraktur-bold.eot');
    src: url('katex_fraktur-bold.eot?#iefix') format('embedded-opentype'),
         url('katex_fraktur-bold.woff') format('woff'),
         url('katex_fraktur-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'katex_fraktur';
    src: url('katex_fraktur-regular.eot');
    src: url('katex_fraktur-regular.eot?#iefix') format('embedded-opentype'),
         url('katex_fraktur-regular.woff') format('woff'),
         url('katex_fraktur-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'katex_greek';
    src: url('katex_greek-bold.eot');
    src: url('katex_greek-bold.eot?#iefix') format('embedded-opentype'),
         url('katex_greek-bold.woff') format('woff'),
         url('katex_greek-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'katex_greek';
    src: url('katex_greek-bolditalic.eot');
    src: url('katex_greek-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('katex_greek-bolditalic.woff') format('woff'),
         url('katex_greek-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'katex_greek';
    src: url('katex_greek-italic.eot');
    src: url('katex_greek-italic.eot?#iefix') format('embedded-opentype'),
         url('katex_greek-italic.woff') format('woff'),
         url('katex_greek-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'katex_greek';
    src: url('katex_greek-regular.eot');
    src: url('katex_greek-regular.eot?#iefix') format('embedded-opentype'),
         url('katex_greek-regular.woff') format('woff'),
         url('katex_greek-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'katex_main';
    src: url('katex_main-bold.eot');
    src: url('katex_main-bold.eot?#iefix') format('embedded-opentype'),
         url('katex_main-bold.woff') format('woff'),
         url('katex_main-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'katex_main';
    src: url('katex_main-italic.eot');
    src: url('katex_main-italic.eot?#iefix') format('embedded-opentype'),
         url('katex_main-italic.woff') format('woff'),
         url('katex_main-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'katex_main';
    src: url('katex_main-regular.eot');
    src: url('katex_main-regular.eot?#iefix') format('embedded-opentype'),
         url('katex_main-regular.woff') format('woff'),
         url('katex_main-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'katex_math';
    src: url('katex_math-bolditalic.eot');
    src: url('katex_math-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('katex_math-bolditalic.woff') format('woff'),
         url('katex_math-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'katex_math';
    src: url('katex_math-italic.eot');
    src: url('katex_math-italic.eot?#iefix') format('embedded-opentype'),
         url('katex_math-italic.woff') format('woff'),
         url('katex_math-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'katex_math';
    src: url('katex_math-regular.eot');
    src: url('katex_math-regular.eot?#iefix') format('embedded-opentype'),
         url('katex_math-regular.woff') format('woff'),
         url('katex_math-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'katex_sansserif';
    src: url('katex_sansserif-bold.eot');
    src: url('katex_sansserif-bold.eot?#iefix') format('embedded-opentype'),
         url('katex_sansserif-bold.woff') format('woff'),
         url('katex_sansserif-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'katex_sansserif';
    src: url('katex_sansserif-italic.eot');
    src: url('katex_sansserif-italic.eot?#iefix') format('embedded-opentype'),
         url('katex_sansserif-italic.woff') format('woff'),
         url('katex_sansserif-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'katex_sansserif';
    src: url('katex_sansserif-regular.eot');
    src: url('katex_sansserif-regular.eot?#iefix') format('embedded-opentype'),
         url('katex_sansserif-regular.woff') format('woff'),
         url('katex_sansserif-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'katex_script';
    src: url('katex_script-regular.eot');
    src: url('katex_script-regular.eot?#iefix') format('embedded-opentype'),
         url('katex_script-regular.woff') format('woff'),
         url('katex_script-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'katex_size1';
    src: url('katex_size1-regular.eot');
    src: url('katex_size1-regular.eot?#iefix') format('embedded-opentype'),
         url('katex_size1-regular.woff') format('woff'),
         url('katex_size1-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'katex_size2';
    src: url('katex_size2-regular.eot');
    src: url('katex_size2-regular.eot?#iefix') format('embedded-opentype'),
         url('katex_size2-regular.woff') format('woff'),
         url('katex_size2-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'katex_size3';
    src: url('katex_size3-regular.eot');
    src: url('katex_size3-regular.eot?#iefix') format('embedded-opentype'),
         url('katex_size3-regular.woff') format('woff'),
         url('katex_size3-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'katex_size4';
    src: url('katex_size4-regular.eot');
    src: url('katex_size4-regular.eot?#iefix') format('embedded-opentype'),
         url('katex_size4-regular.woff') format('woff'),
         url('katex_size4-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'katex_typewriter';
    src: url('katex_typewriter-regular.eot');
    src: url('katex_typewriter-regular.eot?#iefix') format('embedded-opentype'),
         url('katex_typewriter-regular.woff') format('woff'),
         url('katex_typewriter-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
