.onPageNav ul li,
.onPageNav ul ul li {
    padding-bottom: 0; /* moved to ul ul, ul a, ul ul a */
}

.onPageNav ul ul {
    padding-top: 1.5px;
    padding-bottom: 6.5px;
}

.onPageNav ul a {
    display: block;
    padding: 4px;
}

.onPageNav ul ul a {
    padding: 2.5px;
}

.onPageNav a.active {
    background-color: rgba(27, 31, 35, 0.05);
    font-weight: bold;
}

.fixedHeaderContainer header img {
    height: 80%;
}

/* stylelint-disable block-no-empty */
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
