.fixedHeaderContainer header img {
    height: 80%;
}

/* Add special CSS for supported.md rendered on mobile */
@media screen and (max-width:480px){
    /* Break most tables down into individual cells */
    .katex-hopscotch table tr {border: none; background:#fff} 
	.katex-hopscotch table td {display:inline-block; background:#fff}
            
    /* Tables with headings are converted instead to a card format */
    /* That is, each cell is its own row, with a heading to its left. */
    /* CSS mostly from: https://css-tricks.com/responsive-data-tables/ */
    
	/* Force table to not be like tables anymore */
	.katex-cards table, thead, tbody, th, td, tr { 
		display: block;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.katex-cards thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.katex-cards td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%;
	}
    
    .katex-cards table td:nth-child(even) {border-bottom: 1px solid #ccc;}
    
    .katex-cards td:nth-of-type(1),
    .katex-cards td:nth-of-type(2) {background-color: #fff;}
    .katex-cards td:nth-of-type(3),
    .katex-cards td:nth-of-type(4) {background-color: #f6f8fa;}
	
	.katex-cards td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	#spacing-tbl td:nth-of-type(1):before,
    #spacing-tbl td:nth-of-type(3):before { content: "Function:"; }
	#spacing-tbl td:nth-of-type(2):before,
	#spacing-tbl td:nth-of-type(4):before { content: "Produces:"; }

	#math-alpha td:nth-of-type(1):before,
    #math-alpha td:nth-of-type(3):before { content: "Item:"; }
	#math-alpha td:nth-of-type(2):before,
	#math-alpha td:nth-of-type(4):before { content: "Range:"; }

	#environments td:nth-of-type(1):before, 
    #environments td:nth-of-type(3):before { content: "Environment:"; }
	#environments td:nth-of-type(2):before,
	#environments td:nth-of-type(4):before { content: "From code:"; }

	#unit-tbl td:nth-of-type(1):before,
    #unit-tbl td:nth-of-type(3):before { content: "Unit:"; }
	#unit-tbl td:nth-of-type(2):before,
	#unit-tbl td:nth-of-type(4):before { content: "Value:"; }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
