body {
    background: #329894;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .container,
.main .container > * {
    text-align: center;
    font-weight: 300;
}
