@import "fonts/fonts.css";

/*
thin space: 1/6 quad
medium space: 2/9 quad
thick space: 5/18 quad

things to do:
^ _ and styles
\sin
\sum, \int, \lim
\frac
\sqrt
big parens
*/

.katex {
    font: normal 1.21em katex_main;
    line-height: 1.2;
    white-space: nowrap;
}

.katex .mathit {
    font-family: katex_math;
    font-style: italic;
}

.katex .textstyle > .mbin + .minner { margin-left: 0.22222em; }
.katex .textstyle > .mbin + .mop { margin-left: 0.22222em; }
.katex .textstyle > .mbin + .mopen { margin-left: 0.22222em; }
.katex .textstyle > .mbin + .mord { margin-left: 0.22222em; }
.katex .textstyle > .mclose + .mbin { margin-left: 0.22222em; }
.katex .textstyle > .mclose + .minner { margin-left: 0.16667em; }
.katex              .mclose + .mop { margin-left: 0.16667em; }
.katex .textstyle > .mclose + .mrel { margin-left: 0.27778em; }
.katex .textstyle > .minner + .mbin { margin-left: 0.22222em; }
.katex .textstyle > .minner + .minner { margin-left: 0.16667em; }
.katex              .minner + .mop { margin-left: 0.16667em; }
.katex .textstyle > .minner + .mopen { margin-left: 0.16667em; }
.katex .textstyle > .minner + .mord { margin-left: 0.16667em; }
.katex .textstyle > .minner + .mpunct { margin-left: 0.16667em; }
.katex .textstyle > .minner + .mrel { margin-left: 0.27778em; }
.katex .textstyle > .mop + .minner { margin-left: 0.16667em; }
.katex              .mop + .mop { margin-left: 0.16667em; }
.katex              .mop + .mord { margin-left: 0.16667em; }
.katex .textstyle > .mop + .mrel { margin-left: 0.27778em; }
.katex .textstyle > .mord + .mbin { margin-left: 0.22222em; }
.katex .textstyle > .mord + .minner { margin-left: 0.16667em; }
.katex              .mord + .mop { margin-left: 0.16667em; }
.katex .textstyle > .mord + .mrel { margin-left: 0.27778em; }
.katex .textstyle > .mpunct + .mbin { margin-left: 0.16667em; }
.katex .textstyle > .mpunct + .mclose { margin-left: 0.16667em; }
.katex .textstyle > .mpunct + .minner { margin-left: 0.16667em; }
.katex .textstyle > .mpunct + .mop { margin-left: 0.16667em; }
.katex .textstyle > .mpunct + .mopen { margin-left: 0.16667em; }
.katex .textstyle > .mpunct + .mord { margin-left: 0.16667em; }
.katex .textstyle > .mpunct + .mpunct { margin-left: 0.16667em; }
.katex .textstyle > .mpunct + .mrel { margin-left: 0.16667em; }
.katex .textstyle > .mrel + .minner { margin-left: 0.27778em; }
.katex .textstyle > .mrel + .mop { margin-left: 0.27778em; }
.katex .textstyle > .mrel + .mopen { margin-left: 0.27778em; }
.katex .textstyle > .mrel + .mord { margin-left: 0.27778em; }

.katex .textstyle > .scriptstyle { font-size: 0.66667em; }
.katex .scriptstyle > .scriptscriptstyle { font-size: 0.75em; }

.katex .msub {
    vertical-align: bottom;
    position: relative;
    top: 0.2em;
}

.katex .msup {
    position: relative;
    top: -0.5em;
}

.katex .msupsub {
    display: inline-table;
    table-layout: fixed;
    vertical-align: middle;
}

.katex .msupsub > .msup, .katex .msupsub > .msub {
    display: table-row;
    vertical-align: baseline;
}

.katex .mfrac { display: inline-table; }

/* TODO(alpert): Where do these numbers come from? */
.katex .mfrac.textstyle.displaystyle { vertical-align: 0.58em; }
.katex .mfrac.textstyle { vertical-align: 0.50em; }
.katex .mfrac.scriptstyle { vertical-align: 0.50em; }
.katex .mfrac.scriptscriptstyle { vertical-align: 0.6em; }

.katex .mfracnum, .katex .mfracmid, .katex .mfracden {
    display: table-row;
    text-align: center;
}

.katex .mfracmid:before {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    content: "";
    display: block;
}

.katex .mfracmid:after {
    border-bottom-style: solid;
    border-bottom-width: 0.05em;
    content: "";
    display: block;
    margin-top: -1px;
}

.katex .mfracnum > span {
    display: inline-block;
    vertical-align: bottom;
}

.katex .mspace {
    display: inline-block;
}

.katex .mspace.thinspace {
    width: 0.16667em;
}

.katex .mspace.mediumspace {
    width: 0.22222em;
}

.katex .mspace.thickspace {
    width: 0.27778em;
}

.katex .mspace.quad {
    width: 1em;
}

.katex .mspace.qquad {
    width: 2em;
}

.katex .llap, .katex .rlap {
    width: 0;
    position: relative;
}

.katex .llap > span {
    position: absolute;
    right: 0;
}

.katex .rlap > span {
    position: absolute;
    left: 0;
}

.katex .blue { color: #6495ed; }
.katex .orange { color: #ffa500; }
.katex .pink { color: #ff00af; }
.katex .red { color: #df0030; }
.katex .green { color: #28ae7b; }
.katex .gray { color: gray; }
.katex .purple { color: #9d38bd; }
