@import "fonts/fonts.css";

/*
thin space: 1/6 quad
medium space: 2/9 quad
thick space: 5/18 quad

things to do:
^ _ and styles
\sin
\sum, \int, \lim
\frac
\sqrt
big parens
*/

.mathmathmath {
    font: normal 1.21em mjlite_main;
    line-height: 1.4;
}

.mathit {
    font-family: mjlite_math;
    font-style: italic;
}

.mord + .mbin {
    margin-left: 0.22222em;
}

.mbin + .mord {
    margin-left: 0.22222em;
}

.mbin + .mopen {
    margin-left: 0.22222em;
}

.mclose + .mbin {
    margin-left: 0.22222em;
}

.mrel + .mord {
    margin-left: 0.27778em;
}

.mord + .mrel {
    margin-left: 0.27778em;
}

.mrel + .mopen {
    margin-left: 0.27778em;
}

.mclose + .mrel {
    margin-left: 0.27778em;
}

.mpunct + .mord {
    margin-left: 0.16667em;
}

.mpunct + .mbin {
    margin-left: 0.16667em;
}

.mpunct + .mrel {
    margin-left: 0.16667em;
}

.mpunct + .mopen {
    margin-left: 0.16667em;
}

.mpunct + .mclose {
    margin-left: 0.16667em;
}

.mpunct + .mpunct {
    margin-left: 0.16667em;
}

.minner + .mord {
    margin-left: 0.16667em;
}

.minner + .mbin {
    margin-left: 0.22222em;
}

.minner + .mrel {
    margin-left: 0.27778em;
}

.minner + .mopen {
    margin-left: 0.16667em;
}

.minner + .mpunct {
    margin-left: 0.16667em;
}

.minner + .minner {
    margin-left: 0.16667em;
}

.mord + .minner {
    margin-left: 0.16667em;
}

.mbin + .minner {
    margin-left: 0.22222em;
}

.mrel + .minner {
    margin-left: 0.27778em;
}

.mclose + .minner {
    margin-left: 0.16667em;
}

.mpunct + .minner {
    margin-left: 0.16667em;
}

.mop + .mord {
    margin-left: 0.16667em;
}

.mop + .mop {
    margin-left: 0.16667em;
}

.mop + .mrel {
    margin-left: 0.27778em;
}

.mop + .minner {
    margin-left: 0.16667em;
}

.mord + .mop {
    margin-left: 0.16667em;
}

.mbin + .mop {
    margin-left: 0.22222em;
}

.mrel + .mop {
    margin-left: 0.27778em;
}

.mclose + .mop {
    margin-left: 0.16667em;
}

.mpunct + .mop {
    margin-left: 0.16667em;
}

.minner + .mop {
    margin-left: 0.16667em;
}

.msub {
    vertical-align: bottom;
    font-size: 70%;
    position: relative;
    top: 0.2em;
}

.msup {
    position: relative;
    top: -0.5em;
    font-size: 70%;
}

.msupsub {
    display: inline-table;
    table-layout: fixed;
    vertical-align: middle;
}

.msupsub > .msup, .msupsub > .msub {
    display: table-row;
    vertical-align: baseline;
    line-height: 1em;
}

.mfrac {
    display: inline-table;
    vertical-align: 0.66em;
}

.mfracnum, .mfracmid, .mfracden {
    display: table-row;
    text-align: center;
}

.mfracmid > span {
    background: black;
    display: block;
    height: 0.05em;
    min-height: 1px;
}

.mfracnum > span {
    display: inline-block;
    vertical-align: bottom;
}

.mspace {
    display: inline-block;
}

.mspace.thinspace {
    width: 0.16667em;
}

.mspace.mediumspace {
    width: 0.22222em;
}

.mspace.thickspace {
    width: 0.27778em;
}

.mspace.quad {
    width: 1em;
}

.mspace.qquad {
    width: 2em;
}

.llap, .rlap {
    width: 0;
    position: relative;
}

.llap > span {
    position: absolute;
    right: 0;
}

.rlap > span {
    position: absolute;
    left: 0;
}

.mord.blue { color: #6495ed; }
.mord.orange { color: #ffa500; }
.mord.pink { color: #ff00af; }
.mord.red { color: #df0030; }
.mord.green { color: #28ae7b; }
.mord.gray { color: gray; }
.mord.purple { color: #9d38bd; }

.blue .mfracmid > span { background: #6495ed; }
.orange .mfracmid > span { background: #ffa500; }
.pink .mfracmid > span { background: #ff00af; }
.red .mfracmid > span { background: #df0030; }
.green .mfracmid > span { background: #28ae7b; }
.gray .mfracmid > span { background: gray; }
.purple .mfracmid > span { background: #9d38bd; }
