@import "fonts/fonts.css";

/*
thin space: 1/6 quad
medium space: 2/9 quad
thick space: 5/18 quad

things to do:
^ _ and styles
\sin
\sum, \int, \lim
\frac
\sqrt
big parens
*/

body {
    margin: 0px;
    padding: 0px;
}

input {
    margin: 0px;
    font-size: 100%;
}

#math {
    font-family: mjlite_main;
    line-height: 1.4;
}

.mathit {
    font-family: mjlite_math;
    font-style: italic;
}

.mord + .mbin {
    margin-left: 0.22222em;
}

.mbin + .mord {
    margin-left: 0.22222em;
}

.mbin + .mopen {
    margin-left: 0.22222em;
}

.mclose + .mbin {
    margin-left: 0.22222em;
}

.mrel + .mord {
    margin-left: 0.27778em;
}

.mord + .mrel {
    margin-left: 0.27778em;
}

.mrel + .mopen {
    margin-left: 0.27778em;
}

.mclose + .mrel {
    margin-left: 0.27778em;
}

.msub {
    vertical-align: bottom;
    font-size: 70%;
    position: relative;
    top: 0.2em;
}

.msup {
    position: relative;
    top: -0.5em;
    font-size: 70%;
}

.msupsub {
    display: inline-table;
    table-layout: fixed;
    vertical-align: middle;
}

.msupsub > .msup, .msupsub > .msub {
    display: table-row;
    vertical-align: baseline;
    line-height: 1em;
}

.mfrac {
    display: inline-table;
    vertical-align: 0.66em;
}

.mfracnum, .mfracmid, .mfracden {
    display: table-row;
    text-align: center;
}

.mfracmid > span {
    background: black;
    display: block;
    height: 0.05em;
    min-height: 1px;
}

.mfracnum > span {
    display: inline-block;
    vertical-align: bottom;
}

.mord.blue { color: #6495ed; }
.mord.orange { color: #ffa500; }
.mord.pink { color: #ff00af; }
.mord.red { color: #df0030; }
.mord.green { color: #28ae7b; }
.mord.gray { color: gray; }
.mord.purple { color: #9d38bd; }

.blue .mfracmid > span { background: #6495ed; }
.orange .mfracmid > span { background: #ffa500; }
.pink .mfracmid > span { background: #ff00af; }
.red .mfracmid > span { background: #df0030; }
.green .mfracmid > span { background: #28ae7b; }
.gray .mfracmid > span { background: gray; }
.purple .mfracmid > span { background: #9d38bd; }
