name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false # minimize exposure and prevent accidental pushes

    - name: Enable Corepack
      run: corepack enable

    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: yarn

    - name: Install dependencies
      run: yarn --immutable
      env:
        YARN_ENABLE_SCRIPTS: 0 # disable postinstall scripts

    - name: Lint code
      run: yarn test:lint

    - name: Run Flow
      run: yarn test:flow
      if: always()

    - name: Run Jest tests
      run: yarn test:jest --coverage
      if: always()

    - name: Build
      run: yarn build

    - uses: codecov/codecov-action@v3
      with:
        directory: ./coverage/
      timeout-minutes: 3

  release:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    environment: release
    needs: test

    # https://github.com/semantic-release/npm
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
        fetch-depth: 0

    - name: Enable Corepack
      run: corepack enable

    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: '22'

    - name: Install dependencies
      run: yarn --immutable
      env:
        YARN_ENABLE_SCRIPTS: 0 # disable postinstall scripts
    - name: Run semantic-release
      run: yarn run semantic-release --debug
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GIT_AUTHOR_NAME: KaTeX bot
        GIT_AUTHOR_EMAIL: 33710906+KaTeX-bot@users.noreply.github.com
        GIT_COMMITTER_NAME: KaTeX bot
        GIT_COMMITTER_EMAIL: 33710906+KaTeX-bot@users.noreply.github.com
        NPM_AUTH_TOKEN: ""
